<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fourbears.mall.mapper.PtTagContentOpreLogMapper">
  <resultMap id="BaseResultMap" type="com.fourbears.mall.model.PtTagContentOpreLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="tem_code" jdbcType="VARCHAR" property="temCode" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="promotion_status" jdbcType="INTEGER" property="promotionStatus" />
    <result column="mod_time" jdbcType="TIMESTAMP" property="modTime" />
    <result column="mod_user" jdbcType="VARCHAR" property="modUser" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, tem_code, content, promotion_status, mod_time, mod_user
  </sql>
  <select id="selectByExample" parameterType="com.fourbears.mall.model.PtTagContentOpreLogExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pt_tag_content_opre_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from pt_tag_content_opre_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from pt_tag_content_opre_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.fourbears.mall.model.PtTagContentOpreLogExample">
    delete from pt_tag_content_opre_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.fourbears.mall.model.PtTagContentOpreLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pt_tag_content_opre_log (code, tem_code, content, 
      promotion_status, mod_time, mod_user
      )
    values (#{code,jdbcType=VARCHAR}, #{temCode,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{promotionStatus,jdbcType=INTEGER}, #{modTime,jdbcType=TIMESTAMP}, #{modUser,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.fourbears.mall.model.PtTagContentOpreLog">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into pt_tag_content_opre_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="temCode != null">
        tem_code,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="promotionStatus != null">
        promotion_status,
      </if>
      <if test="modTime != null">
        mod_time,
      </if>
      <if test="modUser != null">
        mod_user,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="temCode != null">
        #{temCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="promotionStatus != null">
        #{promotionStatus,jdbcType=INTEGER},
      </if>
      <if test="modTime != null">
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null">
        #{modUser,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.fourbears.mall.model.PtTagContentOpreLogExample" resultType="java.lang.Integer">
    select count(*) from pt_tag_content_opre_log
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update pt_tag_content_opre_log
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.temCode != null">
        tem_code = #{record.temCode,jdbcType=VARCHAR},
      </if>
      <if test="record.content != null">
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.promotionStatus != null">
        promotion_status = #{record.promotionStatus,jdbcType=INTEGER},
      </if>
      <if test="record.modTime != null">
        mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.modUser != null">
        mod_user = #{record.modUser,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update pt_tag_content_opre_log
    set id = #{record.id,jdbcType=BIGINT},
      code = #{record.code,jdbcType=VARCHAR},
      tem_code = #{record.temCode,jdbcType=VARCHAR},
      content = #{record.content,jdbcType=VARCHAR},
      promotion_status = #{record.promotionStatus,jdbcType=INTEGER},
      mod_time = #{record.modTime,jdbcType=TIMESTAMP},
      mod_user = #{record.modUser,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.fourbears.mall.model.PtTagContentOpreLog">
    update pt_tag_content_opre_log
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="temCode != null">
        tem_code = #{temCode,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="promotionStatus != null">
        promotion_status = #{promotionStatus,jdbcType=INTEGER},
      </if>
      <if test="modTime != null">
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modUser != null">
        mod_user = #{modUser,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fourbears.mall.model.PtTagContentOpreLog">
    update pt_tag_content_opre_log
    set code = #{code,jdbcType=VARCHAR},
      tem_code = #{temCode,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      promotion_status = #{promotionStatus,jdbcType=INTEGER},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      mod_user = #{modUser,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>